@{
    ViewData["Title"] = "Traversing Benefits";
}
<h2>@ViewData["Title"]</h2>

<p>
    When you register an appointment to either visit the Cafe or view an adoptable cat,
    you aren't limited to one or the other. When you visit the cafe, you can still speak with our
    front desk to set up an appointment with an adoptable cat. One of the working employees will then guide you
    through the doorway connecting the two locations.
    <br/>
    <br/>
    <b>Do note:</b> If there are too many appointments already registered,
    some of these benefits may be unavailable during your visit. We advise you plan your schedule around that and make 2 appointments in advance.
    One for the Cafe, and one for the Library.
</p>
