
@{
    ViewData["Title"] = "Employment";
}

<h2>Employment Opportunities</h2>

<div>
    <p>
        If you have questions about our Employment Opportunities, please look through the information provided below. If you think Mothbook would be a good fit
        for you, don't hesitate to call our location, come in and request a form, or email a Manager with the Email found on the Support Page.
        <br /><br />
        Further questions might also be answered if you take a look through this page.
        <br /><br />
        <b>Hours:</b> Monday-Friday both locations are open between 9 AM and 5 PM. Saturday and Sunday both locations open at 10 AM and close at 4 PM. 
        You are required to work at least 2 days of the week with preference leaning towards 3 or 4 so the cats get more adjusted to seeing you around. 
        <br /><br />
        <b>Pay:</b> We pay Minimum wage for all starting positions, but this can be adjusted when you meet and talk with the ones who have the possibility of hiring you.
        <br /><br />
        <b>Benefits:</b> We do have benefits at our own location for any employees! All meals and drinks are 50% off when you work that day(with a limit of 1 meal per day), 
        and if you come in during a day you don't work, the total of your meal is 20% off!
        <br /><br />

    </p>
</div>
