
@{
    ViewData["Title"] = "Events";
}


<div>
    <h2>Upcoming Events!</h2>

    <p>
        On this page you can see upcoming events and deals for our two locations! This page will constantly update to show the newest information on a weekly basis.
        It gets updated manually every Saturday at 12:00 PM.
    </p>


    <h3>*Weekly Specials*</h3>
    <h4>All specials are served until 3 PM or until supplies are exhausted.</h4>
    <p>
        <br /><br /><b>Monday:</b> Fluffy Cat Buns, Special bread baked and decorated to look like soft fluffy bread kittens!
        <br /><br /><b>Tuesday:</b> Hairball Tea, All Tea and Coffee products will be served after our cats get a taste out of it first!
        <br /><br /><b>Wednesday:</b> Catzones, Everyone can enjoy a good Calzone every once in a while. Especially if you get to pick every ingredient inside of it. BUT WHAT IF....
        it was decorated like a cat?
        <br /><br /><b>Thursday:</b> Fry Fursday, Half off our endless bowl of fries! What else could you want from a Cat themed Cafe?
        <br /><br /><b>Friday:</b> Slice of Mice, Pizza but shaped like a cat head. If you don't like it I guess theres no need to adopt a cat is there?
        <br /><br /><b>Saturday and Sunday:</b> Kit and Caboodle, We will have various treats and pastries shaped as cat heads.
        We also will be selling some special treats for your pets at home! Speak with our front desk for more information on these tasty treats.
    </p>

    <h3>*Furry Birthdays*</h3>
    <p>
        We are celebrating the birthdays of a few of our cats! Our cats, Midnight and Neku, are celebrating when they turn 3 on the 29th!
        The front desk will be giving out party hats to anyone who chooses to accept them. We will also be handing our cupcakes with their faces designed on them! 
        Pick up yours as we expect them to go fairly quickly and will be making more as the day progresses.
    </p>

    <h3>*National Reading to a Cat Day*</h3>
    <p>
        Not only are we celebrating Two birthdays on the 29th, we are also excited to announce a new holiday! We hope it catches on as a fun new trend.
        We are partenering with the Lincoln Public Library to bring in some books we think our cats may be interested in. 
        We hope you get a good read and a shirt full of fur as you lay down and read to them while they fall asleep in your arms!
    </p>
</div>