@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Welcome to the Mothbook Cafe and Cat Library Home Page!</h2>
    <p>
        On this page you can view our site information and get a better understanding of how things work!
    </p>


    <h3>So what is this place?</h3>
    <p>
        Hello! We are the proud Owners, Managers, Employees, and Cats located at the Mothbook Cafe and Cat Library!
        You may be thinking to yourself, what exactly IS a Cafe and Cat Library. That is an excellent question and I am happy to explain more in depth!
        We here at Mothbook are happy to say that we are a wonderful internet Cafe that you can visit during the week to come in and get free wifi while 
        you eat or drink some of our cat related products. While you are at it, you can also visit our second area thats connected to the first building. 
        In there, we have a fairly expansive library as well as plenty of fuzzy and adorable cats that come and go as they please. 
        <br /><br />
        We have a variety
        of cats that are all <b>AVAILABLE FOR ADOPTION.</b> Yup! You heard it here first! Every single animal located in our buildings and on our 
        website are available for adoption! One thing we should mention however, is that we schedule everything around appointments and calling in ahead of time! 
        While you CAN walk-in, we cannot guarantee you will be accepted inside at that time. We understand that it may not be the best method for making money.
        BUT we have a small wait staff, as we have two locations and someone has to make sure the cats are alright and no accidents occur! 
        So be sure to call ahead of time as a precaution.
        
        When you register an appointment at either, 
        you will be able to visit and recieve some benefits of the other location.
        These benefits are located on our <a asp-action="Benefits">"Traversing Benefits"</a> Page.
    </p>
</div>
