@{
    ViewData["Title"] = "Support";
}
<h2>@ViewData["Title"]</h2>

<div>
    <p>
        If you have questions about any specifics, please feel free to email any of the links below. We answer all emails before 9 AM the following morning.
        <br /><br />
        Further questions might also be answered if you take a look through this page.
        <br /><br />
        <b>Hours:</b> Monday-Friday both locations are open between 9 AM and 5 PM. Saturday and Sunday both locations open at 10 AM and close at 4 PM. 
        <br /><b>PLEASE NOTE:</b> You CANNOT schedule meetings with pets on the weekends. While we understand that you want to get to know our furry creatures more,
        they also need time away from people as constantly meeting different people can stress some of our older friends out and cause them anxiety problems.
        <br /><br />
        <b>Allergies:</b> Depending on what kind of allergies you have we have plenty of allergen free food and drinks. However if you decide to come over when you are allergic to cats,
        please realize you are digging your own grave and we are not responsible for any "accidents" that may occur while at our facilities. You have been warned.
        <br /><br />
        <b>Appointments:</b> While we accept appointments whenever you make them, we would like to request that you call or schedule at least an hour in advance but no more than a week in advance, just so we can adjust staff if need be. 
        If you call in, please be sure to state how many people you will be bringing in with you, as we may not be staffed enough for a group of 50 or more coming in just 15 minutes!
        <br /><br />
        <b>Adoptions:</b> We are pleased to say that our pets are of course available for adoption as well. However, we want to make sure that we have given each of our pets amazing forever homes.
        the rules with adoption from us are fairly strict compared to other places, since we care about our furru friends so much. Firstly, in order to adopt any of our pets, you must schedule at
        least 3 meetings with them before hand and each meeting must last around an hour so they get used to being around you. These meetings must all be scheduled within the span of 1 month.
        After you have successfully done this you are allowed to bring them home. We will then perform bi-weekly check ins with them, where you can either bring them to see us, or we cam some and see you.
        <br /><br />
        There will be 10 meetings in total, and at least 3 of them must be where we visit you so that we can ensure that they are living in a suitable environment and are recieving proper care. If we notice
        any particular problems we have the right to refund any purchases you made through us, and return to the Mothbook facilities with the animal. You can of course refute this if you believe we have made
        a mistake and we will judge the process once more with a new set of eyes. We hope you understand, and of course some exceptions can be made.

    </p>
</div>

<address>
    2287 Cat Lane<br />
    Lincoln, NE 22877-2287<br />
    Phone Number:
    (228) 228-2287
</address>

<address>
    <strong>Manager Support:</strong> <a href="mailto:MothbookManager@gmail.com">MothbookManager@gmail.com</a><br />
    <strong>Cafe Support:</strong> <a href="mailto:CatCafeMothbook@gmail.com">CatCafeMothbook@gmail.com</a><br />
    <strong>Meeting Support:</strong> <a href="mailto:CatMeetingMothbook@gmail.com">CatMeetingMothbook@gmail.com</a>
</address>
